@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f8f9fa;
  font-style: "Lato" sans-serif;
}

.container {
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  border-bottom: 1px solid #e0e6ea;
  display: flex;
  padding: 5px 0;
}

.d-flex {
  display: flex;
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.rounded-circle {
  border-radius: 50%;
  border: 2px solid #548bc5;
  width: 30px;
  height: 30px;
}

.title {
  font-weight: 400;
  font-size: 18px;
  color: #1d2c3c;
}

.ml-2 {
  margin-left: 0.5rem;
}

.navbar-nav {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1rem;
}

.left {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  max-width: 66.66667%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-item {
  list-style: none;
  font-size: 1rem;
  font-weight: 400;
}

.nav-link {
  display: block;
  text-decoration: none;
  margin: 0 10px;
  color: #1d2c3c;
  padding: 0.5rem 1rem;
}

.btn-trans {
  background: transparent;
  padding: 10px 21px;
  border-radius: 5px;
  border: 1px solid #1d2c3c;
}

.card-container {
  max-width: 66.666667%;
}

.ml-auto {
  margin-left: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-1 {
  border-top: 0.25rem;
  border-bottom: 0.25rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.col-6 {
  max-width: 50%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-8 {
  max-width: 66.66667%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  margin-bottom: 0.5rem;
  display: inline-block;
}

input {
  display: block;
  padding: 0.375rem 0.75rem;
  height: calc(1.5em + 0.75rem + 2px);
  font-weight: 400;
  font-size: 1rem;
  border: 1px solid #ced4da;
  background: #edeff2;
  border-radius: 2px;
  width: 100%;
}

.input-group {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.input-group input {
  border: none;
}

.card-input {
  display: block;
  padding: 0.375rem 0.75rem;
  height: calc(1.5em + 0.75rem + 2px);
  font-weight: 400;
  font-size: 1rem;
  border: 1px solid #ced4da;
  background: #edeff2;
  border-radius: 2px;
  width: 66%;
}

.input-group-append {
  max-width: 75px;
  margin-left: -1px;
  display: flex;
  border: 0;
}

.btn-lg {
  background-color: #038e7d;
  color: #fff;
  width: 100%;
  max-width: 483px;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  border: none;
}

.quest {
  width: 20px;
  height: 20px;
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
  border-style: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-auto {
  margin-bottom: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-5 {
  margin-top: 3rem;
}

.right {
  background-color: #1179bf;
  color: #fff;
  padding: 1.25rem;
  max-width: 33.3333%;
}

.price {
  font-size: 60px;
  font-weight: 300;
}

sub {
  font-size: 18px;
}

sup {
  font-size: 24px;
  top: -1.5em;
}

.layout {
  max-width: 229px;
}

.layout p {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.agency {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 1rem 0;
}

.quote {
  padding: 25px 0;
}

.quote p {
  font-style: italic;
  font-weight: 400;
}

.profile {
  width: 40px;
  height: 40px;
  margin-right: 7px;
}

.pt-3 {
  padding-top: 1rem;
}

.main-footer span {
  color: #31708f;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-muted {
  color: #6c757d;
  padding: 1rem 0;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
